<html>
<head>
   <title>home page</title>
   <style>
    body {
      background-color: #344a72;
    }

    .signup-box {
      width: 280px;
      height: 420px;
      margin: auto;
      background-color: white;
      border-radius: 3px;
    }

    h1 {
      text-align: center;
      padding-top: 15px;
    }

    h4 {
      text-align: center;
    }

    form {
      width: 300px;
      margin-left: 20px;
    }

    form label {
      display: flex;
      margin-top: 10px;
      font-size: 14px;
    }

    form input {
      width: 75%;
      padding: 7px;
      border: none;
      border: 1px solid gray;
      border-radius: 8px;
      outline: none;
    }

    button {
      cursor: pointer;
      width: 150px;
      height: 25px;
      margin-top: 20px;
      border-radius: 8px;
      margin-left: 15%;
      background-color: #49c1a2;
      color: white;
      font-size: 18px;
    }

    button:hover {
      background-color: green;
    }


    p {
      text-align: center;
      padding-top: 10px;
      font-size: 15px;
    }

    .para-2 {
      text-align: center;
      color: white;
      font-size: 15px;
      margin-top: -10px;
    }

    .para-2 a {
      color: #49c1a2;
    }

    @media only screen and (max-width: 600px) {
      body {
        background-color: #344a72;
        font-family: "Roboto", sans-serif;
      }


      .signup-box {
        width: 280px;
        height: 420px;
        margin: auto;
        background-color: white;
        border-radius: 3px;
      }

      h1 {
        text-align: center;
        padding-top: 15px;
      }

      h4 {
        text-align: center;
      }

      form {
        width: 300px;
        margin-left: 20px;
      }

      form label {
        display: flex;
        margin-top: 10px;
        font-size: 14px;
      }

      form input {
        width: 75%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 8px;
        outline: none;
      }

      button {
        cursor: pointer;
        width: 150px;
        height: 25px;
        margin-top: 20px;
        border-radius: 8px;
        margin-left: 15%;
        background-color: #49c1a2;
        color: white;
        font-size: 18px;
      }

      button:hover {
        background-color: green;
      }


      p {
        text-align: center;
        padding-top: 16px;
        font-size: 15px;
      }
 
      .para-2 {
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: -18px;
      }

      .para-2 a {
        color: #49c1a2;
      }
    }
 .output{
   background-color: aquamarine;
   font-size: smaller;
   height: fit-content;
   width: fit-content;
 }


  </style>
</head>
<body>
 <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
     <form method="POST" action="/home" class="forms">
      <label>Enter your name </label>
      <input type="text" name="name" placeholder="enter your name name" required><br>
      <label>Enter your email </label>
      <input type="email" name="email" placeholder="enter your email name" required><br>
      <label>Enter your password</label>
      <input type="text" name="password" placeholder="enter your password" required><br>
      <button type="submit">Submit</button>
      <label class="output"> <%= pageTitle.name %> </label><br>
    </form>
    <p>
      By clicking the Sign Up button,you agree to our <br />
      <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
    </p>
  </div>
  <p class="para-2">
    Already have an account? <a href="login">Login here</a>
  </p>
</body>
</html>

